<!-- <div class="container">
    <div class="image"><img src = "http://product.hstatic.net/1000088324/product/8_a_2b2e09e255a646559d7cc39a8ac12a41_master.jpg" width="200px" height="200px" >
    </div>
    <br><br><br>
    <div class = "product">Price</div>
</div> -->
<!-- <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> -->

<!-- <div class="listproduct">
    <table class="table-cart" border="0.8">
        <tr>
            <td rowspan="3"><a><img src="assets/images/Vintage.png"></a></td>
            <td>Saigon Vintage</td>
        </tr>
        <tr>
            <td>250000d</td>
        </tr>
        <tr>
            <td>S/ Black/ T-shirt</td>
        </tr>
        <span id="item">Price</span>        
    </table>
</div> -->
<div class="listproduct">
    <tbody>
        <tr>
            <td><img src="assets/images/Vintage.png"></td>
            <td>
                <a href="#" class="tshirt">Saigon Vintage</a>
                <p><span>250000d    </span></p>
                <p class="variant">
                    <span>S / Black / T-shirt</span>
                </p>

                <div class="qty">
                        <button type="button" class="qtyminus qty-btn">-</button>
                        <input type="text" size="4" name="updates[]" min="1" id="updates_1037942354" data-price="25000000" value="1" class="tc line-item-qty item-quantity">
                        <button type="button" class="qtyplus qty-btn">+</button>
                </div>
                <p class="price">
                        <span class="text">Price:</span>
                        <span class="line-item-total">250,000₫</span>
                </p>
            </td>
        </tr>
    </tbody>
</div>


<div class="cart-buttons">
        <a class="button dark link-continue" href="/collections/all" title="Continue Shopping"><i class="fa fa-reply"></i>Continue Shopping</a>
        <!-- <button type="submit" id="update-cart" class="btn-update button dark" name="update" value="">Cập nhật</button> -->
        <button type="submit" id="checkout" class="btn-checkout button dark" name="checkout" value="">Buy Now</button>

    </div>

<div class = "container">
        <div class="ghichu">
            <textarea class="ghichu" placeholder="Note here"></textarea>
        </div>
        
        <div class="pay"> Buy now </div>
    </div>

