<ul class="nav-bar">
  <li class="nav-bar-item">
    <a href="#">Collection</a>
    <ul class="dropdown">
      <li><a href="#">Collection 1</a></li>
      <li><a href="#">Collection 2</a></li>
      <li><a href="#">Collection 3</a></li>
    </ul>
  </li>

  <li class="nav-bar-item">
    <a href="#">Design Style</a>
  </li>

  <li class="nav-bar-item">
    <a href="#">New Product</a>
  </li>

  <li class="nav-bar-item">
    <a href="#">Best Seller</a>
  </li>

  <li class="nav-bar-item">
    <a href="#">Sale off</a>
  </li>

  <li class="nav-bar-item">
      <a href="#">Sticker</a>
  </li>

  <li class="nav-bar-item">
    <a href="#">Support</a>
  </li>

  <li class="nav-bar-item">
    <a href="#">Contact</a>
  </li>
</ul>