<footer class="footer">
  <div class="top-footer">
    <div class="container-fluid">
      <div class="area-newsletter">
        <div class="title-newsletter">
          <h4>Register for Newsletter</h4>
        </div>
        <div class="form-newsletter">
          <form accept-charset="UTF-8" action="/" class="contact-form" method="POST">
            <div class="input-group">
              <input required type="email" value placeholder="example@gmail.com">
              <button type="submit" class="button button-register">Register</button>
            </div>
          </form>
        </div>
      </div>

      <div class="number-contact">
        <div class="phone-img">Customer Service at <a href="tel:0767607676">0767607676</a></div>
      </div>
    </div>
  </div>

  <div class="main-footer">
    <div>
      <h3  class="title-footer">About</h3>
      <p>About the Kleider here</p>
    </div>

    <div>
      <h3  class="title-footer">Contact Information</h3>
      <div class="contact-address">Bach Khoa University</div>
      <div class="contact-phone">0123456789</div>
      <div class="contact-email">example@gmail.com</div>
    </div>

    
  </div>

  <p class="copyright">Copyright &copy; 2019 
    <a href="#">Kleider - Online Clothes Shopping</a>
    . 

    <a target="_blank" href="https://angular.io/">Powered by Angular</a>
  </p>
</footer>