<div class="header-wrap">
    <a href="">
        <h1 id="site-name">Kleider</h1>
    </a>
    
    <div class="header-wrap-icon">
        <a class="search-box">
            <form action="" class="search-bar">
                <input type="text" maxlength="40" size="20" id="search-bar" alt="search-bar" placeholder="Search..."/>
            </form>

            <a class="search-icon" href="">
                <img id="search-icon" src="assets/images/search-icon.png" alt="search-icon" title="Search" >
            </a>
        </a>

        <a href="">
            <img id="cart-icon" src="assets/images/shopping-cart.png" alt="cart-icon" title="Your cart">
        </a>
            
        <a href="">
            <img id="account-icon" src="assets/images/account-icon.png" alt="account icon" title="Account">
        </a>
    </div>
    
</div>